.outer-container {

    padding: 20px;
    margin: auto; /* Center horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
  
  .login-container,
  .image-container {
    flex: 1;
    padding: 20px;
  }
  
  /* Additional styling for login form and image */
  .login-container {
    /* Add your login form styling here */
  }
  
  .image-container {
    /* Add your image styling here */
  }
  