<div class="container border border-1 border-dark d-flex p-0 w-75 mmargin">
    <div class="container d-flex flex-column p-2 justify-content-center align-items-center">  
        
        <h2 class="mtext mheading1">LOGIN</h2>
        <p class="mtext mheading2">Please Sign in to continue.</p>
        
        <form class="mform">
            <div class="mb-2">
                <label for="exampleInputUsername" class="form-label mtext mheading3">Username</label>
                <input type="text" class="form-control border" id="exampleInputUsername">
            </div>

            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label mtext mheading3">Password</label>
                <input type="password" class="form-control border" id="exampleInputPassword1">
                </div>

                <div class="mb-2 form-check">
                <input type="checkbox" class="form-check-input bgColor" id="exampleCheck1">
                <label class="form-check-label mheading4" for="exampleCheck1 mtext ms-5">Remember me</label>
                <a href="#" class="forgot-password-link mheading4 mtext ms-5">Forgot Password?</a>          
            </div>
            
            <button type="submit" class="btn loginbtn mtext w-100">Submit</button><br>
            
            
        </form>

        <p class="para2 mt-3 mheading4">Don't have an account?<span><a href="#" class="custom-signup-button msignup mtext ms-2 mheading4">Sign up</a></span></p>
        <p class="mOR mtext mheading4">OR</p>
        <p class="para3 mtext mheading4">Continue with</p>

        <div class="container d-flex mIcon">
            <img src="assets\Google.png"  class="img-fluid mwidth me-2" alt="Image">
            <img src="assets\facebook.png" class="img-fluid mwidth me-2" alt="Image">
        </div>
        
    </div>


    <div class="container p-0 m-0 mradius">
        <img src="assets\Rectangle 2.svg" class="img-fluid  mradius mImage1" alt="Image">
    </div>

</div>


