<div class="container1">  

    <div class="welcome">
        <h2>LOGIN</h2>
        <p class="para1">Please Sign in to continue.</p>
    </div>

    <form>
        <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" class="form-control border" id="exampleInputUsername">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control border" id="exampleInputPassword1">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input bgColor" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
          <a href="#" class="forgot-password-link mforgot">Forgot Password?</a>          
        </div>

        <button type="submit" class="btn btn-primary loginbtn">Submit</button><br>
        
    </form>

    <p class="para2">Don't have an account?<span><a href="#" class="custom-signup-button msignup">Sign up</a></span></p>
    <p class="mOR">OR</p>
    <p class="para3">Continue with</p>
    <img src="assets\Google.png" class="img-fluid mImage2" alt="Image">
    <img src="assets\facebook.png" class="img-fluid mImage3" alt="Image">


        

</div>

<div class="container2">
    <img src="assets\Rectangle 2.png" class="img-fluid mImage1" alt="Image">
</div>



