.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag{
    background-color: rgb(248, 244, 244);   
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: rgb(218, 17, 17);
    margin-top: 2%;
    text-decoration: none;
}