.container{
    margin-top: 3%;
    margin-left: 29%;
    display: flex;
    
}

.searchField{
    width: 20rem;
    height: 2.5rem;
    border-radius: 10rem 0 0 10rem;
    border: none;
    padding-left: 2rem;
    background-color: rgb(248, 244, 244);
    outline: none;
}

.navbtn{
    display: flex;
    color: white;
    border: none;
    text-align: start;
    align-items: center;   
    background-color: rgb(207, 22, 22);
    border-radius: 0 10rem 10rem 0;
    font-size: 15px;
    height: 2.5rem;
    width: 98px;
    outline: none;
}

.navbtn:hover{
    color: black;
    background-color: rgb(201, 191, 191);
}

.iconSize{
    font-size: 20px;
    text-align: center;
}